<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cuenta">
            <h2><span>Cuenta</span> {{ cuenta.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Balance</span></dt>
                <dd>
                    <span>{{ cuenta.balance }}</span>
                </dd>
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{ cuenta.nombre }}</span>
                </dd>
                <dt><span>Apellido</span></dt>
                <dd>
                    <span>{{ cuenta.apellido }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cuenta', cuenta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
